.jp-ReactWidget {
    color: var(--jp-ui-font-color1);
    background: var(--jp-layout-color1);
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.selected-config {
    background-color: #007bff !important;
    fill: #007bff !important;
}

.failed-config {
    background-color: #dc3545;
}


/** Bandit Explanation */
svg.bandit-explanation {
    display: block;
    width: 99%;
    border: 2px solid gold;
    font: 10px sans-serif;
    user-select: none;
}

.bandit-explanation_node-content {
    background-color: #28a745;
    stroke: steelblue;
    stroke-width: 3px;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 8px;
    border: 1px solid black;
}

.bandit-explanation_node-content.selected {
    border: 3px solid black;
}

.bandit-explanation_node-content.node-duplicate {
    background-color: #ffc107;
}

.bandit-explanation_node-content.node-unvisited {
    background-color: #f8f9fa;
}

.bandit-explanation_node {
    cursor: pointer;
}

.bandit-explanation_node h3 {
    margin: 0;
    padding: 0;
}

.bandit-explanation_node-details {
    display: grid;
    grid-template-columns: 50% 50%;
}

.bandit-explanation_link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.bandit-explanation_link.selected {
    stroke-width: 5px;
}


/** Candidate Table */
.candidate-table_vertical-header {
    writing-mode: vertical-lr;
}

.candidate-table_vertical-header .MuiDataGrid-menuIcon:hover {
    display: none !important;
}

.candidate-table_vertical-header .MuiDataGrid-menuIcon,
.candidate-table_vertical-header .MuiDataGrid-columnSeparator {
    display: none !important;
}

.candidate-table_component {
    width: 40px;
    text-align: center;
    background-color: red;
    margin: 10px;
    border-radius: 10px;
    line-height: 40px;
}
